<header>
  <div class="logo">
    <span class="white">Three Bogatyrs</span>
  </div>
</header>

<main>
  <h1>Welcome back, <span class="username">{{ username }}</span></h1>

  <div class="forms-container">
    <div class="wrapper">
      <h2>Create Budget</h2>
      <label>Budget Name</label>
      <input type="text" placeholder="e.g., Groceries" [(ngModel)]="name" name="name" />
      <button class="create-btn" (click)="onCreate()">Create Budget</button>
    </div>
  </div>

  <section class="existing-budgets">
    <h2 class="white">Existing Budgets</h2>
    <div class="budget-container">
      <div class="budget-card" *ngFor="let category of categories">
        <a routerLink="/add-expense" (click)="selectCategory(category.id)" [queryParams]="{ categoryId: category.id }">
          <div><strong>{{ category.name }}</strong></div>
        </a>
      </div>
    </div>
  </section>
</main>
