main {
  color: #f48fb1;
  margin-left: 40px;
}

.forms-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 60px;
  flex-wrap: nowrap;
}

.wrapper {
  width: 460px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}

label {
  font-weight: 400;
  color: #eeeeee;
  padding-bottom: 10px;
}

input,
select {
  width: 90%;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #1e1e2f;
  border: 1px solid #4c4c4c;
  color: white;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff6ec4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ff6ec4;
}

.create-btn {
  margin-top: 20px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.create-btn:hover {
  transform: scale(1.04);
}

.delete-user {
  margin-left: 10px;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff6f91;
  color: #ff6f91;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.delete-user:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.expense-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.expense-item {
  display: inline-block;
  font-size: 15px;
  color: #eeeeee;
}
