<div class="wrapper">
  <h1 class="main-title">Expense Tracker</h1>
  <h2 class="subtitle">Register</h2>
  <form (ngSubmit)="onRegister()">

    <label>Username:</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
    />

    <label>Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
    />

    <div *ngIf="error" class="error">{{ error }}</div>

    <button type="submit">REGISTER</button>
  </form>

  <div class="login-link">
    Already have an account?
    <a routerLink="/login">Login</a>
  </div>
</div>
