<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>HomeBudget</title>
  <link rel="stylesheet" href="app.component.css"/>
</head>
<body>
  <header>
    <div class="logo">
      <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Home Icon" />
      <span>Three Bogatyrs</span>
    </div>
    <div> <button class="delete-user">Delete User 🗑️</button></div>
  </header>

  <main>
    <h1>Welcome back, <span class="username">Mario</span></h1> <!--Change to username of the user-->
    <div class="forms-container">
      <div class="form-box">
        <h2>Create Budget</h2>
        <label>Budget Name</label>
        <input type="text" placeholder="e.g., Groceries" />
        <label>Amount</label>
        <input type="text" placeholder="$350" />
        <button class="create-btn">Create Budget</button>
      </div>

      <div class="form-box">
        <h2>Add New Expense</h2>
        <label>Expense Name</label>
        <input type="text" placeholder="e.g., Coffee" />
        <label>Amount</label>
        <input type="text" placeholder="e.g., 3.50" />
        <button class="create-btn">Add Expense</button>
      </div>
    </div>

    <section class="existing-budgets">
      <h2>Existing Budgets</h2>
      <div class="budget-card">
        
        <strong>Gaming</strong>
        <span>US$1,000.00 Budgeted</span>
      </div>
    </section>
  </main>
</body>
</html>
