html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/bg-login.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Roboto, sans-serif;
}
