<div
  class="sidenav"
  [ngClass]="isSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="bx bx-menu"></i>
    </button>
    <div *ngIf="!isSidebarCollapsed()" class="logo-text">App</div>
  </div>

  <div class="sidenav-nav">
    <li *ngFor="let item of items" class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="{{ item.icon }} sidenav-link-icon"></i>
        <span class="sidenav-link-text" *ngIf="!isSidebarCollapsed()">
          {{ item.label }}
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="logout()">
        <i class="bx bx-log-out sidenav-link-icon"></i>
        <span class="sidenav-link-text" *ngIf="!isSidebarCollapsed()">Logout</span>
      </a>
    </li>
  </div>
</div>
